In [1]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
from sklearn.cluster import KMeans

from sklearn import preprocessing
from sklearn import metrics

In [2]:
dataset = load_boston()
df = pd.DataFrame(data = dataset.data, columns = dataset.feature_names)

In [3]:
clustModel2 = KMeans(n_clusters=2, init='k-means++')
clustModel3 = KMeans(n_clusters=3, init='k-means++')
clustModel4 = KMeans(n_clusters=4, init='k-means++')
clustModel5 = KMeans(n_clusters=5, init='k-means++')
clustModel6 = KMeans(n_clusters=6, init='k-means++')

clustLabels2 = clustModel2.fit_predict(df)
clustLabels3 = clustModel3.fit_predict(df)
clustLabels4 = clustModel4.fit_predict(df)
clustLabels5 = clustModel5.fit_predict(df)
clustLabels6 = clustModel6.fit_predict(df)

silhouetteAvg2 = metrics.silhouette_score(df, clustLabels2)
silhouetteAvg3 = metrics.silhouette_score(df, clustLabels3)
silhouetteAvg4 = metrics.silhouette_score(df, clustLabels4)
silhouetteAvg5 = metrics.silhouette_score(df, clustLabels5)
silhouetteAvg6 = metrics.silhouette_score(df, clustLabels6)

print("Silhouette Average Model 2: ", silhouetteAvg2)
print("Silhouette Average Model 3: ", silhouetteAvg3)
print("Silhouette Average Model 4: ", silhouetteAvg4)
print("Silhouette Average Model 5: ", silhouetteAvg5)
print("Silhouette Average Model 6: ", silhouetteAvg6)

Silhouette Average Model 2:  0.691398118833
Silhouette Average Model 3:  0.723403034161
Silhouette Average Model 4:  0.568219170853
Silhouette Average Model 5:  0.483987510819
Silhouette Average Model 6:  0.501258930507

In [4]:
targetValues = dataset.target
targetLabels = pd.qcut(x = targetValues, q = 3, labels=[1,2,3])
classLabels = targetLabels.astype('int32') - 1
print(classLabels)

[2 1 2 2 2 2 1 2 0 1 0 1 1 1 0 1 1 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1
 1 2 2 2 2 2 2 1 1 1 0 0 1 1 1 2 1 1 2 2 2 1 1 0 0 1 2 2 1 1 1 0 1 2 1 1 1
 2 1 1 1 1 1 2 2 2 1 2 2 1 1 1 2 1 1 1 2 1 2 1 2 2 2 2 2 0 1 1 1 1 1 1 1 1
 1 0 0 0 0 1 1 1 1 1 1 1 0 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 1 0 1 0 0 0 2 2 1 2 2 2 2 1 2 2 2 2 1 0 1 1 1 1 2 1 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 1 2 1 1 1 1 2 1 2 1 2 1 1 2 1
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 0 0 2 1 2 2 2 2 2 2 1 1 2 2 2
 2 2 2 2 2 2 1 2 2 2 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 2 2 2 2 2 1 2
 2 1 1 2 2 1 2 2 2 2 2 2 1 1 0 1 1 1 2 0 0 1 1 1 2 1 1 0 2 2 1 1 1 1 1 0 1
 1 1 1 1 0 1 1 0 2 0 2 2 0 0 1 2 2 1 2 0 2 0 1 0 1 1 1 2 1 1 0 1 2 1 1 2 2
 2 2 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 2 0 2 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 2 0 0 0 0 0 1 1
 1 2 1 1 1 1 1 0 0 0 0 1 1 2 1 1 0 1 0 0 1 1 2 1 0]

In [5]:
homogeneity = metrics.homogeneity_score(classLabels, clustLabels3)
completeness = metrics.completeness_score(classLabels, clustLabels3)
print("Homogeneity: ", homogeneity)
print("Completeness: ", completeness)

Homogeneity:  0.124582446726
Completeness:  0.18209983331

In [6]:
print(clustModel3.cluster_centers_)

[[  3.74992678e-01   1.57103825e+01   8.35953552e+00   7.10382514e-02
    5.09862568e-01   6.39165301e+00   6.04133880e+01   4.46074481e+00
    4.45081967e+00   3.11232240e+02   1.78177596e+01   3.83489809e+02
    1.03886612e+01]
 [  1.09105113e+01   5.32907052e-15   1.85725490e+01   7.84313725e-02
    6.71225490e-01   5.98226471e+00   8.99137255e+01   2.07716373e+00
    2.30196078e+01   6.68205882e+02   2.01950980e+01   3.71803039e+02
    1.78740196e+01]
 [  1.49558803e+01  -5.32907052e-15   1.79268421e+01   2.63157895e-02
    6.73710526e-01   6.06550000e+00   8.99052632e+01   1.99442895e+00
    2.25000000e+01   6.44736842e+02   1.99289474e+01   5.77863158e+01
    2.04486842e+01]]

In [7]:
df['MEDV'] = dataset.target
df['CLUST'] = clustLabels3
df['CLASS'] = classLabels

In [8]:
cluster0 = df.loc[df['CLUST'] == 0]
print("Cluster 0")
cluster0.describe()

Cluster 0

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CLUST,CLASS
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.0,366.000000
mean,0.374993,15.710383,8.359536,0.071038,0.509863,6.391653,60.413388,4.460745,4.450820,311.232240,17.817760,383.489809,10.388661,24.931694,0.0,1.229508
std,0.599633,26.155190,5.971805,0.257240,0.098098,0.670906,28.225532,2.095045,1.649088,67.663334,2.201279,28.968867,5.842925,8.334857,0.0,0.752569
min,0.006320,0.000000,0.460000,0.000000,0.385000,4.903000,2.900000,1.321600,1.000000,187.000000,12.600000,169.270000,1.730000,11.800000,0.0,0.000000
25%,0.057822,0.000000,3.977500,0.000000,0.437000,5.933500,35.750000,2.732825,4.000000,266.250000,16.400000,384.340000,6.082500,19.500000,0.0,1.000000
50%,0.130875,0.000000,6.410000,0.000000,0.493000,6.247000,61.900000,4.083800,4.000000,304.000000,17.950000,392.800000,9.285000,22.800000,0.0,1.000000
75%,0.366227,22.000000,10.010000,0.000000,0.544000,6.727000,87.850000,5.882150,5.000000,370.000000,19.200000,396.397500,13.240000,28.575000,0.0,2.000000
max,4.097400,100.000000,25.650000,1.000000,0.871000,8.725000,100.000000,12.126500,8.000000,469.000000,22.000000,396.900000,34.410000,50.000000,0.0,2.000000

In [9]:
cluster1 = df.loc[df['CLUST'] == 1]
print("Cluster 1")
cluster1.describe()

Cluster 1

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CLUST,CLASS
count,102.000000,102.0,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.0,102.000000
mean,10.910511,0.0,18.572549,0.078431,0.671225,5.982265,89.913725,2.077164,23.019608,668.205882,20.195098,371.803039,17.874020,17.429412,1.0,0.480392
std,12.120759,0.0,2.091641,0.270177,0.062720,0.722131,13.275049,0.672498,4.339504,9.763884,0.021698,35.006097,6.956627,9.184539,0.0,0.670900
min,0.105740,0.0,18.100000,0.000000,0.532000,3.561000,40.300000,1.129600,4.000000,666.000000,20.100000,240.520000,2.960000,5.000000,1.0,0.000000
25%,4.844605,0.0,18.100000,0.000000,0.614000,5.619500,87.675000,1.575675,24.000000,666.000000,20.200000,354.847500,13.372500,12.150000,1.0,0.000000
50%,7.795775,0.0,18.100000,0.000000,0.693000,6.113000,95.350000,1.904700,24.000000,666.000000,20.200000,389.365000,17.240000,15.300000,1.0,0.000000
75%,12.613775,0.0,18.100000,0.000000,0.713000,6.391250,98.775000,2.508125,24.000000,666.000000,20.200000,396.900000,22.027500,20.600000,1.0,1.000000
max,88.976200,0.0,27.740000,1.000000,0.770000,8.780000,100.000000,4.098300,24.000000,711.000000,20.200000,396.900000,37.970000,50.000000,1.0,2.000000

In [10]:
cluster2 = df.loc[df['CLUST'] == 2]
print("Cluster 2")
cluster2.describe()

Cluster 2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CLUST,CLASS
count,38.000000,38.0,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.00000,38.000000,38.000000,38.000000,38.000000,38.000000,38.0,38.000000
mean,14.955880,0.0,17.926842,0.026316,0.673711,6.065500,89.905263,1.994429,22.50000,644.736842,19.928947,57.786316,20.448684,13.126316,2.0,0.105263
std,14.881720,0.0,1.596051,0.162221,0.075732,0.677849,9.641715,0.368456,5.19225,73.646594,1.254162,51.401094,6.232272,4.395310,0.0,0.388307
min,0.228760,0.0,8.560000,0.000000,0.520000,3.863000,59.700000,1.413000,5.00000,384.000000,14.700000,0.320000,10.110000,7.000000,2.0,0.000000
25%,6.800895,0.0,18.100000,0.000000,0.597000,5.905750,85.175000,1.757625,24.00000,666.000000,20.200000,17.042500,16.400000,9.750000,2.0,0.000000
50%,10.997300,0.0,18.100000,0.000000,0.679000,6.197500,92.950000,1.951900,24.00000,666.000000,20.200000,45.755000,19.350000,13.250000,2.0,0.000000
75%,14.992475,0.0,18.100000,0.000000,0.713000,6.460500,98.900000,2.181475,24.00000,666.000000,20.200000,88.540000,23.807500,14.975000,2.0,0.000000
max,73.534100,0.0,19.580000,1.000000,0.871000,6.852000,100.000000,2.871500,24.00000,666.000000,20.900000,210.970000,36.980000,27.500000,2.0,2.000000